<section class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <div
          id="carouselExampleInterval"
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
          data-bs-pause="false"
        >
          <div class="carousel-inner">
            <div class="carousel-item" data-bs-interval="2000">
              <img src="assets\images\banner-before.png" />
            </div>
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="assets\images\banner-after.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 banner-tag rounded-start">
        <div style="width: max-content">
          <h1>Virtual Staging</h1>
          <div class="w-100 d-flex justify-content-between mt-4">
            <h3><span>from</span> $22.99</h3>
            <button class="btn btn-primary" style="height: max-content">
              Learn More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="guide-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h2>Photo-Realistic Renders, Virtual Staging & Photo Editing</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-3 guide-card">
        <div class="d-flex align-items-center">
          <i class="bi bi-camera me-3"></i>
          <h3>1. click</h3>
        </div>
        <p class="mt-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo nisi
          veritatis fugit, explicabo quis quos atque eos iste reprehenderit
        </p>
      </div>
      <div class="col-3 guide-card">
        <div class="d-flex align-items-center">
          <i class="bi bi-upload me-3"></i>
          <h3>2. Upload</h3>
        </div>
        <p class="mt-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo nisi
          veritatis fugit, explicabo quis quos atque eos iste reprehenderit
        </p>
      </div>
      <div class="col-3 guide-card">
        <div class="d-flex align-items-center">
          <i class="bi bi-wallet2 me-3"></i>
          <h3>3. Pay</h3>
        </div>
        <p class="mt-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo nisi
          veritatis fugit, explicabo quis quos atque eos iste reprehenderit
        </p>
      </div>
      <div class="col-3 guide-card">
        <div class="d-flex align-items-center">
          <i class="bi bi-box-arrow-in-down me-3"></i>
          <h3>4. Receive</h3>
        </div>
        <p class="mt-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo nisi
          veritatis fugit, explicabo quis quos atque eos iste reprehenderit
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid g-0 mt-5">
    <div class="row g-0">
      <div class="col-4 rounded-end" style="background: var(--primary-color)">
        <div class="row">
          <div class="col-7 offset-5" style="padding: 32px">
            <h4>Receive first image for free on your virtual staging order</h4>
            <button class="btn btn-primary mt-3">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="3d-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between align-items-end">
        <div>
          <h2>3D Architectural Visualization</h2>
          <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
        </div>
        <button class="btn btn-primary" style="height: max-content">
          View 3D Tour
        </button>
      </div>
    </div>
    <div class="row mt-5 g-2">
      <div class="col-3">
        <div class="rounded p-4" style="background: var(--primary-color)">
          <div>
            <h3>Floor plan</h3>
            <h6 class="mt-1">YOU ARE HERE</h6>
          </div>
          <img src="assets\images\3d-1.png" class="img-fluid mt-5" />
          <div class="mt-5 d-flex justify-content-between align-items-center">
            <h3>Basement</h3>
            <a href=""><b>Switch</b> </a>
          </div>
        </div>
      </div>
      <div class="col-9 exterior">
        <img src="assets\images\3d-2.png" class="img-fluid rounded" />
        <h3>Exterior Render</h3>
      </div>
      <div class="col-12 interior">
        <img src="assets\images\3d-3.png" class="img-fluid rounded" />
        <h3>Interior Render</h3>
      </div>
    </div>
  </div>
</section>
<section class="service-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Most Popular Service</h2>
      </div>
    </div>
    <div class="row mt-5 g-3">
      <div class="col-6 left">
        <div
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
          data-bs-pause="false"
        >
          <div class="carousel-inner">
            <div class="carousel-item" data-bs-interval="2000">
              <img src="assets\images\serive-after-1.png" class="rounded" />
            </div>
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="assets\images\serive-before-1.png" class="rounded" />
            </div>
          </div>
        </div>
        <h3>Virtual Staging + Declutttering</h3>
      </div>
      <div class="col-6">
        <div class="row g-3">
          <div class="col-12 right">
            <div
              class="carousel slide carousel-fade"
              data-bs-ride="carousel"
              data-bs-pause="false"
            >
              <div class="carousel-inner">
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="assets\images\serive-after-2.png" class="rounded" />
                </div>
                <div class="carousel-item active" data-bs-interval="2000">
                  <img
                    src="assets\images\serive-before-2.png"
                    class="rounded"
                  />
                </div>
              </div>
            </div>
            <h3>Declutttering</h3>
          </div>
          <div class="col-12 right">
            <div
              class="carousel slide carousel-fade"
              data-bs-ride="carousel"
              data-bs-pause="false"
            >
              <div class="carousel-inner">
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="assets\images\serive-after-3.png" class="rounded" />
                </div>
                <div class="carousel-item active" data-bs-interval="2000">
                  <img
                    src="assets\images\serive-before-3.png"
                    class="rounded"
                  />
                </div>
              </div>
            </div>
            <h3>Virtual Staging</h3>
          </div>
          <div class="col-12 right">
            <div
              class="carousel slide carousel-fade"
              data-bs-ride="carousel"
              data-bs-pause="false"
            >
              <div class="carousel-inner">
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="assets\images\serive-after-3.png" class="rounded" />
                </div>
                <div class="carousel-item active" data-bs-interval="2000">
                  <img
                    src="assets\images\serive-before-3.png"
                    class="rounded"
                  />
                </div>
              </div>
            </div>
            <h3>Virtual Renovation</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="other-service-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Other Services</h2>
      </div>
    </div>
    <div class="row mt-5 g-4">
      <div class="col-4">
        <div class="card">
          <img
            src="assets\icons\other-serive-before-1.png"
            class="default-img"
          />
          <img
            src="assets\icons\other-serive-after-1.png"
            alt="Hover Image"
            class="hover-img"
          />
          <div class="typography">
            <h3>3D Architectural Visualization</h3>
            <p class="mt-2">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit
            </p>
            <a href=""
              ><b class="d-flex align-items-center"
                >Learn More
                <i
                  class="bi bi-arrow-right ms-3"
                  style="font-size: 28px"
                ></i></b
            ></a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img
            src="assets\icons\other-serive-before-2.png"
            class="default-img"
          />
          <img
            src="assets\icons\other-serive-after-2.png"
            alt="Hover Image"
            class="hover-img"
          />
          <div class="typography">
            <h3>360&#186; Virtual Staging</h3>
            <p class="mt-2">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit
            </p>
            <a href=""
              ><b class="d-flex align-items-center"
                >Learn More
                <i
                  class="bi bi-arrow-right ms-3"
                  style="font-size: 28px"
                ></i></b
            ></a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img
            src="assets\icons\other-serive-before-3.png"
            class="default-img"
          />
          <img
            src="assets\icons\other-serive-after-3.png"
            alt="Hover Image"
            class="hover-img"
          />
          <div class="typography">
            <h3>Graphic Designing</h3>
            <p class="mt-2">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit
            </p>
            <a href=""
              ><b class="d-flex align-items-center"
                >Learn More
                <i
                  class="bi bi-arrow-right ms-3"
                  style="font-size: 28px"
                ></i></b
            ></a>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-8">
            <div class="row g-4">
              <div class="col-12">
                <div class="card">
                  <img
                    src="assets\icons\other-serive-before-4.png"
                    class="default-img"
                  />
                  <img
                    src="assets\icons\other-serive-after-4.png"
                    alt="Hover Image"
                    class="hover-img"
                  />
                  <div class="typography">
                    <h3>IDX Website</h3>
                    <p class="mt-2">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit
                    </p>
                    <a href=""
                      ><b class="d-flex align-items-center"
                        >Learn More
                        <i
                          class="bi bi-arrow-right ms-3"
                          style="font-size: 28px"
                        ></i></b
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                  <img
                    src="assets\icons\other-serive-before-5.png"
                    class="default-img"
                  />
                  <img
                    src="assets\icons\other-serive-after-5.png"
                    alt="Hover Image"
                    class="hover-img"
                  />
                  <div class="typography">
                    <h3>Custom Software Development</h3>
                    <p class="mt-2">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit
                    </p>
                    <a href=""
                      ><b class="d-flex align-items-center"
                        >Learn More
                        <i
                          class="bi bi-arrow-right ms-3"
                          style="font-size: 28px"
                        ></i></b
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                  <img
                    src="assets\icons\other-serive-before-6.png"
                    class="default-img"
                  />
                  <img
                    src="assets\icons\other-serive-after-6.png"
                    alt="Hover Image"
                    class="hover-img"
                  />
                  <div class="typography">
                    <h3>Video Editing</h3>
                    <p class="mt-2">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit
                    </p>
                    <a href=""
                      ><b class="d-flex align-items-center"
                        >Learn More
                        <i
                          class="bi bi-arrow-right ms-3"
                          style="font-size: 28px"
                        ></i></b
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card last-card">
              <img
                src="assets\icons\other-serive-before-7.png"
                class="default-img"
              />
              <img
                src="assets\icons\other-serive-after-7.png"
                alt="Hover Image"
                class="hover-img"
              />
              <div class="typography">
                <h3>Digital Marketing</h3>
                <p class="mt-2">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit
                </p>
                <a href=""
                  ><b class="d-flex align-items-center"
                    >Learn More
                    <i
                      class="bi bi-arrow-right ms-3"
                      style="font-size: 28px"
                    ></i></b
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="trusted-client-section section-padding">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-12">
        <h4 style="text-align: center; color: var(--font-light)">
          Trusted by over 100+ esteemed clients
        </h4>
      </div>
    </div>
    <div class="row g-0 mt-4">
      <div class="col-12 slider">
        <div class="slider-track">
          @for (items of clientLogo; track $index) {
          <img [src]="items" alt="" />
          }
        </div>
      </div>
    </div>
  </div>
</section>
